@import '~bootstrap/scss/bootstrap';

body {
  background-color: #DDC7EC;
}

h2 {
  display: flex;
}

.box {
  align-items: center;
  background-color: #6B79F3;
  border: 4px solid white;
  color: white;
  display: flex;
  font-size: 60px;
  height: 100px;
  justify-content: center;
}

.hidden {
  display: none;
}
