@import '~bootstrap/scss/bootstrap';

body {
  background-color: #DDC7EC;
  font-family: monospace, sans-serif;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  align-items: center;
  background-color: #6B79F3;
  border: 4px solid white;
  color: white;
  display: flex;
  font-size: 60px;
  height: calc(100% / 3);
  justify-content: center;
  margin: 0 auto;
}

.embed-responsive {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 30%;
}

.gameboard {
  margin: 0;
}

.hidden {
  display: none;
}

#games-create {
  font-size: 30px;
  text-align: center;
}

#game-message {
  align-items: center;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 10px;
}

#message {
  text-align: center;
  margin-bottom: 20px;
}

#signup-in {
  text-align: center;
}
